PHP/CodeSnippets/api/CredentialService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.docusign.net/API/Credential" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.docusign.net/API/Credential" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.docusign.net/API/Credential">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="tns:ErrorCode" />
                  <s:element minOccurs="0" maxOccurs="1" name="AuthenticationMessage" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Accounts" type="tns:ArrayOfAccount" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ErrorCode">
        <s:restriction base="s:string">
          <s:enumeration value="User_Does_Not_Exist_In_System" />
          <s:enumeration value="Account_Lacks_Permissions" />
          <s:enumeration value="User_Lacks_Permissions" />
          <s:enumeration value="User_Authentication_Failed" />
          <s:enumeration value="Unspecified_Error" />
          <s:enumeration value="Success" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Account">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetAuthenticationToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GoToEnvelopeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSenderToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EnvelopeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSenderTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestSenderTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCorrectToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EnvelopeID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SuppressNavigation" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCorrectTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestCorrectTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="GetAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSenderTokenSoapIn">
    <wsdl:part name="parameters" element="tns:RequestSenderToken" />
  </wsdl:message>
  <wsdl:message name="RequestSenderTokenSoapOut">
    <wsdl:part name="parameters" element="tns:RequestSenderTokenResponse" />
  </wsdl:message>
  <wsdl:message name="RequestCorrectTokenSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCorrectToken" />
  </wsdl:message>
  <wsdl:message name="RequestCorrectTokenSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCorrectTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="CredentialSoap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticationToken">
      <wsdl:input message="tns:GetAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:GetAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSenderToken">
      <wsdl:input message="tns:RequestSenderTokenSoapIn" />
      <wsdl:output message="tns:RequestSenderTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestCorrectToken">
      <wsdl:input message="tns:RequestCorrectTokenSoapIn" />
      <wsdl:output message="tns:RequestCorrectTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CredentialSoap" type="tns:CredentialSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://www.docusign.net/API/Credential/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.docusign.net/API/Credential/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticationToken">
      <soap:operation soapAction="http://www.docusign.net/API/Credential/GetAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSenderToken">
      <soap:operation soapAction="http://www.docusign.net/API/Credential/RequestSenderToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCorrectToken">
      <soap:operation soapAction="http://www.docusign.net/API/Credential/RequestCorrectToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CredentialSoap12" type="tns:CredentialSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://www.docusign.net/API/Credential/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.docusign.net/API/Credential/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticationToken">
      <soap12:operation soapAction="http://www.docusign.net/API/Credential/GetAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSenderToken">
      <soap12:operation soapAction="http://www.docusign.net/API/Credential/RequestSenderToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCorrectToken">
      <soap12:operation soapAction="http://www.docusign.net/API/Credential/RequestCorrectToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Credential">
    <wsdl:port name="CredentialSoap" binding="tns:CredentialSoap">
      <soap:address location="https://demo.docusign.net/api/3.0/credential.asmx" />
    </wsdl:port>
    <wsdl:port name="CredentialSoap12" binding="tns:CredentialSoap12">
      <soap12:address location="https://demo.docusign.net/api/3.0/credential.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>